PROJECT_NAME=FASTAPI_BASE
SECRET_KEY=1udk6@%l3ihbkiivg614_=5m6#1&e%zoe@s)8qjp*7c9a_%8i^
REFRESH_KEY=0m!kip!75=2hwj^h76uuckgsh)&3c-jeies=uomx7xr*8!9u4+
SQL_DATABASE_URL=postgresql+psycopg2://postgres:A123456@localhost:5432/fastapi-base

CELERY_BROKER_URL=redis://127.0.0.1:6379
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379

RABBITMQ_BROKER_URL=amqp://admin:A123456@127.0.0.1:5672/vhost

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=A123456
RABBITMQ_DEFAULT_VHOST=vhost

CELERY_FLOWER_USER=admin
CELERY_FLOWER_PASSWORD=A123456

POSTGRES_DB=fastapi-base
POSTGRES_USER=postgres
POSTGRES_PASSWORD=A123456

FCM_SERVER_KEY=AAAAI3iE0Gs

EMAIL_HOST=smtp-mail.outlook.com
EMAIL_PORT=587
EMAIL_USERNAME=office@mor.com.vn
EMAIL_PASSWORD=Morhn@2023
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_FROM=SpaceShare <office@mor.com.vn>
